<?xml version="1.0" encoding="utf-8"?>

<objects xmlns="http://www.springframework.net">
  <object id="SqlToCSharp" type="CodeGenerator.Models.LanguagesConvert, CodeGenerator">

    <property name="SqlServerToCSharp">
      <dictionary key-type="string" value-type="string">
        <entry key="bigint" value="long" />
        <entry key="binary" value="object" />
        <entry key="bit" value="bool" />
        <entry key="char" value="string" />
        <entry key="datetime" value="DateTime" />
        <entry key="decimal" value="decimal" />
        <entry key="float" value="double" />
        <entry key="image" value="byte[]" />
        <entry key="int" value="int" />
        <entry key="money" value="decimal" />
        <entry key="nchar" value="string" />
        <entry key="ntext" value="string" />
        <entry key="numeric" value="decimal" />
        <entry key="nvarchar" value="string" />
        <entry key="real" value="float" />
        <entry key="smalldatetime" value="DateTime" />
        <entry key="smallint" value="short" />
        <entry key="smallmoney" value="decimal" />
        <entry key="text" value="string" />
        <entry key="timestamp" value="byte[]" />
        <entry key="tinyint" value="byte" />
        <entry key="uniqueidentifier" value="Guid" />
        <entry key="varbinary" value="byte[]" />
        <entry key="varchar" value="string" />
        <entry key="xml" value="string" />
        <entry key="sql_variant" value="object" />
      </dictionary>
    </property>

    <property name="MySqlToCSharp">
      <dictionary key-type="string" value-type="string">
        <entry key="bigint" value="long" />
        <entry key="binary" value="object" />
        <entry key="bit" value="bool" />
        <entry key="char" value="string" />
        <entry key="datetime" value="DateTime" />
        <entry key="decimal" value="decimal" />
        <entry key="float" value="double" />
        <entry key="image" value="byte[]" />
        <entry key="int" value="int" />
        <entry key="money" value="decimal" />
        <entry key="nchar" value="string" />
        <entry key="ntext" value="string" />
        <entry key="numeric" value="decimal" />
        <entry key="nvarchar" value="string" />
        <entry key="real" value="float" />
        <entry key="smalldatetime" value="DateTime" />
        <entry key="smallint" value="short" />
        <entry key="smallmoney" value="decimal" />
        <entry key="text" value="string" />
        <entry key="timestamp" value="byte[]" />
        <entry key="tinyint" value="byte" />
        <entry key="uniqueidentifier" value="Guid" />
        <entry key="varbinary" value="byte[]" />
        <entry key="varchar" value="string" />
        <entry key="xml" value="string" />
        <entry key="sql_variant" value="object" />
      </dictionary>
    </property>
  </object>

  <object id="NoCreateList" type="System.Collections.Generic.List&lt;string&gt;">
    <constructor-arg>
      <list element-type="System.String">
        <value>_dic_</value>
        <value>_log_</value>
      </list>
    </constructor-arg>
  </object>

</objects>

